.l-main .wrap-inner {
    min-height: 760px;
    overflow-x: hidden;
    padding-bottom: 55px;
}

.personInfo {
    margin: 9px 0 0 0;
    padding: 15px 24px 0 24px;
    border-top: 1px solid rgb(226, 221, 221);
    width: 100%;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    min-height: 110px;
}

.info-bar {
    position: relative;
}

.message-Box {
    position: relative;
}

.avatar-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    margin-right: 10px;
}

.message-wrapper {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    margin: 10px 0 0 50px;
}

.avatars {
    border-radius: 50% 50%;
}

.avatars:hover {
    cursor: pointer;
    opacity: 70%;
}

.comment-img {
    position: relative;
    left: 0px;
    float: left;
}

.comment-info {
    position: relative;
    padding: 15px 10px 0px 0;
    right: 0px;
}

.comment-name {
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-bottom: 4px;
    width: 100%;
}

.comment-post_name {
    width: 50%;
    position: relative;
    padding-left: 2%;
    padding-right: 5%;
}

.comment-post_reply {
    width: 50%;
    position: relative;
    padding-left: 5%;
    color: #005FA5;
}

.handle {
    color: #8899a6;
    font-size: 13px;
}

.right {
    float: right;
}

.msg {
    margin-top: 0px;
    padding: 10px 0px;
    background-color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    line-height: 1.6;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-status {
    width: 100%;
    padding: 2% 1%;
}

.comment-status {
    width: 100%;
    padding: 2% 1%;
}

.comment-msg {
    padding: 10px 15px;
    background-color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-status .comment-time {
    width: 50%;
    position: relative;
    padding: 0% 5% 0 1%;
    color: #A5A5A5;
    font-size: 15px;
}

.comment-status .comment-flag {
    width: 50%;
    position: relative;
    padding: 0 0% 0 5%;
    cursor: pointer;
    color: #A5A5A5;
    font-size: 15px;
}

.comment-status .comment-flag:hover {
    width: 50%;
    position: relative;
    padding: 0 0% 0 5%;
    cursor: pointer;
    color:#3697ff;
}

.comment-status .comment-time {
    width: 50%;
    position: relative;
    padding: 0% 5% 0 1%;
}

.comment-status .comment-flag {
    width: 50%;
    position: relative;
    padding: 0 0% 0 5%;
}

.pic-shop {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 40%;
}

.comment-Box {
    padding: 0 0 0 55px;
    position: relative;
}

.profileBox {
    margin-left: 100px;
}

.message-info {
    padding: 20px 10px 0 0;
}

.l-main {
    padding: 64px 0;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-text {
    border-radius: 30px;
    width: 80% !important;
    border: none !important;
}

.comment-text:hover {
    border-radius: 30px;
    width: 80% !important;
    border: none !important;
}

.btn-comment {
    margin-left: 10px;
    color: #fff;
    background-color: #3697ff;
    border-color: #3697ff;
    width: 15%;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    float: right;
    text-align: center;
}

.comment-input {
    display: flex;
    padding: 0px;
    background-color: #F5F5F5;
    border-radius: 50rem;
    position: relative;
    float: right;
    width: 85%;
}

.comment-lav {
    padding: 16px;
    max-width: 540px;
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 0;
    z-index: 9;
    background-color: #ffffff;
    border-top: 1px solid;
    border-color: #d4d4d4;
}

.comment-lav>p {
    text-align: center;
    font-size: 11px;
    color: #B2B2B2;
}

.comment-field {
    height: 55px;
}

.comment-lav .comment-field img {
    width: 46px;
    cursor: pointer;
    margin-left: 20px;
}

.comment-lav .comment-input-field {
    width: 80%;
}

.comment-lav .comment-input-field textarea{
    border: none;
    height: 45px !important;
    border-radius: 50rem;
}

@media screen and (max-width: 361px) {
    .comment-info {
        position: relative;
        padding: 15px 10px 40px 0;
        right: 0px;
    }
    .message-info {
        padding: 20px 10px 30px 0;
    }
}