.gps-body{
    padding-top: 70px;
}

.center {
    text-align: center;
}

.map-size {
    width: 100%;
    max-height: 540px;
    height: 100%;
}

.gps-body .round-btn {
    border-radius: 20px;
    border: none;
    height: 36px;
    width: 100%;
    background-color: #f5f5f5;
    color: black;
    text-align: center;
}

.gps-body .round-btn.selected {
    background-color: rgb(39, 22, 22);
    color: white;
}

.gps-body .wrap-info {
    padding: 16px 24px;
}

.selected {
    background-color: black;
}

.gps-body .l-nav{
    max-width: 540px;
    width: 100%;
    z-index: 10;
    padding: 0;
    padding: 16px 16px 0px 16px;
    text-align: center;
}

.l-nav--link-gps{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
} 
.l-nav--link-gps:hover{
    text-decoration: none;
    cursor: pointer;
}