
.personInfo {
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 1px solid rgb(226, 221, 221);
    width: 100%;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    min-height: 110px;
}

.avatar {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50% 50%;
    margin-right: 10px;
}

.info{
    padding: 10px 0;
    position: relative;
}

.name {
    font-weight: bold;
    color:black;
    font-size:15px;
    margin-bottom: 4px;
}

.handle {
    color: #8899a6;
    font-size: 13px;
}

.right{
    float:right;
}

.msg{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #eef3e1;
    font-size: 15px;
    border-radius: 10px;
}

.pic-shop{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 45%;
}