.logo{
    /* font-size:16px; */
    margin:20px 0 20px 0;
    font-weight: 900 !important;
}
.info{
    margin: 20px 24px 0 24px;
}
.top{
    padding-top: 20px !important
}
.header-request{
  
    position: absolute;
    
    padding-top: 40px;
    font-size: 22px;
    text-align: center;
    background-color: white;
    left: 0;
    right: 0;
    margin-left: 40%;
    margin-right: 40%;
    

}

.bold{
    font-weight: bolder;
}
.sex{
    color:#2E99E8;
    font-size: 14px;
    margin-bottom: 10px;
}
.col-sm-6.text-left{
    padding:0;
}
.col-sm-6.text-center{
    padding:0;
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.msg{
    margin-top:20px;
}
.name{
    font-size:14px;
    margin-top:-8px;
    margin-bottom: 20px;

}


.follow{
    padding-right:0;
    font-weight: 700 !important;
    font-size:16px;
}
.round-btn{
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    line-height: 1em;
    text-align: center;
}
.round-btn-more{
    border-radius: 20px;
    border: 1px solid white;
    width: 120px;
    height: 40px;
    background-color: rgb(248, 247, 247);
    text-align: center;
    line-height: 1em;
}

.round-btn:focus{
    background-color: black;
    color: white;
}

.bg-black{
    background-color: black;
    color: white;
}

.estimate{
    position: relative;
    margin-top: 40px;
}

.estimate-1{
    position: relative;
}
.estimate1{
    margin-top: 120px;
}
.question{
    position: absolute;
    width:20px;
    height: 20px;
    top:18px;
    right: 20px;
}
.btnBox{
    margin: 20px 0;
}

.btnBox .row{
    margin: 0 -2px;
}
.btnBox .col-sm-4{
    padding:0 2px;
}

.imgBox .col-sm-4{
    padding: 1px;
}
.imgBox .row{
    margin: 0 -1px;
}

.img-wrapper{
    position: relative;
}

.img-wrapper .hint-1{
    position: absolute;
    width: 67px;
    height: 18px;
    right: 5px;
    top: 7px;
}

.img-wrapper .hint-2{
    position: absolute;
    width: 67px;
    height: 18px;
    right: 5px;
    top: 30px;
}
.text-1{
    font-size: 27px;
    margin-bottom: 5px;
}
.text-2{
    font-size: 27px;
    margin: 20px 0;
}
.checkbox{
    margin:30px 0 400px 20px;
}
.img-upload{
    position: relative;
    /* flex: 20; */
    width: 103px;
    height: 103px;
    border: 1px dashed black ;
    padding: 0;
    margin:10;
}
.img-select{
    position: absolute;
    width: 30px;
    height: 30px;
    right:-15px;
    bottom:-15px;
}
input[type="file"] {
    display: none;
  }
  /* .img-preview{
      width: 110px;
  } */

  .image-preview{
    position :absolute;
    width: 101px;
    height: 101px;
    object-fit: contain;
  }

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 50px;
    padding-top:3px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    /* height: 0;
    width: 0; */
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 33px;
    width: 33px;
    background-color: #eee;
    border-radius: 50%;
    /* padding-right:10px; */
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
    
  }
  .container input:checked::before{
   font-weight: 900;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 13px;
    top: 6px;
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .complete{
      margin-top: 50px;
      margin-bottom: 450px;
      color: rgb(138, 138, 223);
  }
  .form-text{
      margin: 15 0;
  }