.l-header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    .l-header--inner {
        padding: 16px;
        background: #fff;
        border-bottom: 1px solid $borderColorGray;
    }
}

/* ロゴ */
.l-header--logo {
    img {
        max-width: 32px;
        max-height: 32px;
        width: auto;
        height: auto;
    }
}

/* タイトル */
.l-header--title {
    flex: 1;
    padding: 0 16px;
    text-align: center;
}

/* nav */
.l-header--nav {
    .hamburger-memu {
        position: relative;
        width: 30px;
        height: 30px;
        span {
            position: absolute;
        }
        .bar {
            transition: .2s;
            right: 2px;
            left: 2px;
            height: 2px;
            border-radius: 10px;
            background: $colorBlack;
            &:nth-child(1) {
                top: 5px;
            }
            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                bottom: 5px;
            }
        }
        .batch-circle {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            right: 0px;
            top: 0px;
            background: #F57777;
        }
    }
    // モーダルボタン
    #menu-btn-check {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        &:checked ~ .menu-btn span {
            &:nth-child(1) {
                top: 45%;
                transform: rotate(-45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                bottom: 45%;
                transform: rotate(45deg);
            }
        }
        &:checked ~ .nav-menu {
            z-index: 1;
            display: block;
        }
    }
    .menu-btn {
        width: 24px;
        height: 24px;
        display: block;
    }
    // グローバルメニュー
    .nav-menu {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .1s;
        background: #f7f9fc;
        ul {
            max-width: 540px;
            width: 100%;
            height: 100%;
            margin: auto;
            background: #fff;
            padding-top: 64px;
            li {
                margin-bottom: 8px;
                & > a {
                    display: block;
                    padding: 12px 20px;
                    font-weight: 700;
                }
            }
        }
    }
}
